<h1>Enter an animal species</h1>
<form action="/species/new" method="post">
  <label for="species">Species</label>
  <input type="text" name="species" id="species">
  <button type="submit">Add the Animal Species</button>
</form>
