<h2>List of Animals by Species:</h2>
@if (@Model.Count == 0)
{
  <p>
    No Animals listed.
  </p>
}
else
{
  <ul>
  @foreach (var animal in @Model)
  {
    <li><a href="/species/@animal.GetId()">@animal.GetName()</a></li>
  }
  </ul>
}
<p>
  <a href="/species/new">Add new species.</a>
</p>
<p>
  <a href="/">Return to Home Page</a>
</p>
